.footer-container {
    height: 30vh;
    width: 80%;
    margin-top: 15vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.upper-f {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    text-align: center;
}

.lower-f {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5vh;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 4vh;
    cursor: pointer;
}

.contact-icons:hover {
    border: 2px solid white;
}

a {
    text-decoration: none;
    color: white;
}

/* Media query for iPhone 15 Pro */
@media screen and (max-width: 430px) {
    .footer-container {
        width: 90%;
        margin-left: 5%;
        height: auto;
        margin-top: 10vh;
    }

    .upper-f {
        font-size: 3vh;
        padding: 2vh 0;
    }

    .lower-f {
        gap: 3vh;
        padding-bottom: 2vh;
    }

    .contact-icons {
        height: 3vh;
        width: 3vh;
    }
}