.home-container {
  /* background: red; */
  height: 180vh;
  width: 80%;
  margin-top: 5vh;
  margin-left: 10%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh; /* Add a gap of 10vh between child elements */
}

.wrapper {
  color: white;
  /* background-color: aqua; */
  width: 50%;
  height: 28.77vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  gap: 2vh;
  transition: background-color 0.3s;
  margin-top: 0vh;
}

.wrapper:hover {
  background-color: #333; /* Change the background color on hover */
}

.words {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  height: 40%;
  overflow: hidden;
}

.word {
  animation: spin_words 10s infinite;
}

@keyframes spin_words {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0%);
  }
}

.bout-meh {
  color: white;
  /* background-color: brown; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  height: 30vh;
  width: 100%;
  /* margin-top: -10vh; */
}

.bout-meh-button {
  font-weight: bolder;
  height: 5vh;
  width: 10vw;
  font-size: 2vh;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.bout-meh-button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.link-style2{
  text-decoration: none;
  color: white;
}

.link-style2:hover{
  color: black;
}

.project-lab {
  /* background-color: green; */
  display: flex;
  gap: 7vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.home-heading-p{
  color: white;
  /* margin-bottom: -20vh; */
  margin-top: 5vh;
  display: flex;
  align-items: center;
  gap: 2vh;
}
