.navbar-container {
    background: rgb(57, 57, 57);
    height: 3.7vh;
    width: 80%;
    position: sticky;
    left: 10%;
    top: 2%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    font-size: larger;
    color: rgb(188, 188, 188);
    z-index: 10;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.home {
    font-size: larger;
}

.day {
    font-size: 5vh;
}

.link-style {
    text-decoration: none;
    color: inherit;
}

.link-style:hover {
    color: white;
    border-bottom: 2px solid white;
}

.mode-toggle:hover {
    color: white;
    cursor: pointer;
}

/* Media query for iPhone 15 Pro */
@media screen and (max-width: 430px) {
    .navbar-container {
        width: 90%;
        left: 5%;
        padding: 1vh;
        font-size: medium;
    }

    .right-side {
        gap: 1.5vh;
    }

    .home {
        font-size: medium;
    }

    .day {
        font-size: 3vh;
    }

    .left-side span {
        font-size: 2.8vh !important;
        margin-left: 0.5vh !important;
    }
}