.single-project-container {
    height: auto;
    width: 35vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 2vh;
}

.single-project-container:hover {
    background-color: #333; 
}

.project-image2 {
    height: 30vh;
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.project-image2:hover {
    transform: scale(1.1) rotate(5deg);
    filter: brightness(1.2);
}

.project-title2 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 4vh;
    font-weight: bolder;
    border-bottom: 2px solid gray;
    padding: 1vh 0;
}

.project-desc2 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 3vh;
    padding: 1vh 0;
}

.techStackTags {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    margin-top: 1vh;
}

.tech-button {
    padding: 8px 15px;
    background-color: inherit;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query for iPhone 15 Pro */
@media screen and (max-width: 430px) {
    .single-project-container {
        width: 90vw;
        padding: 1vh;
    }

    .project-image2 {
        height: 25vh;
    }

    .project-title2 {
        font-size: 3vh;
    }

    .project-desc2 {
        font-size: 2.5vh;
    }

    .tech-button {
        padding: 6px 12px;
        font-size: 1.8vh;
    }
}